#number-display {
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    text-align: right;
    padding: 10px;
}

#calc-numbers {
    display: grid;
    margin: 5% 0%;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}

#operations {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
}