#number-display {
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    text-align: right;
    padding: 10px;
}

#calc-numbers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
}



#operations {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 5px;
}